In [5]:
import pandas as pd

df1 = pd.read_csv('Result.csv')

df2 = pd.read_csv('balanced_twitter_btc_big_clean.csv', lineterminator='\n')

In [6]:
df1['label'] = df1['label'].replace({0: 1, 1: -1, 2: 0})

In [7]:
df1.describe(include='all')

,date,text,hard_cleaned_text,label
count,5290,5290,5282,5290.000000
unique,488,5290,5196,NaN
top,2021-06-11,DO NOT MISS this opportunity to mine FREE #cry...,fix,NaN
freq,13,1,7,NaN
mean,NaN,NaN,NaN,0.002836
std,NaN,NaN,NaN,0.210770
min,NaN,NaN,NaN,-1.000000
25%,NaN,NaN,NaN,0.000000
50%,NaN,NaN,NaN,0.000000
75%,NaN,NaN,NaN,0.000000
max,NaN,NaN,NaN,1.000000

In [8]:
df2.describe(include='all')

,date,text,hard_cleaned_text,label
count,3540245,3540245,3540245,3.540245e+06
unique,267,3469981,2789269,NaN
top,2022-01-22,Do you know #BMoney was an idea in 1998 before...,current cardano price alert ada usd bitcoin bt...,NaN
freq,54368,703,17377,NaN
mean,NaN,NaN,NaN,4.198393e-01
std,NaN,NaN,NaN,7.665063e-01
min,NaN,NaN,NaN,-1.000000e+00
25%,NaN,NaN,NaN,0.000000e+00
50%,NaN,NaN,NaN,1.000000e+00
75%,NaN,NaN,NaN,1.000000e+00
max,NaN,NaN,NaN,1.000000e+00

In [9]:
df1['label'].value_counts()

 0    5055
 1     125
-1     110
Name: label, dtype: int64

In [10]:
df2['label'].value_counts()

 1    2095181
 0     836217
-1     608847
Name: label, dtype: int64

In [11]:
# 合并两个数据集
df = pd.concat([df1, df2], ignore_index=True)

In [12]:
df.describe(include='all')

,date,text,hard_cleaned_text,label
count,3545535,3545535,3545527,3.545535e+06
unique,705,3475238,2794455,NaN
top,2022-01-22,Do you know #BMoney was an idea in 1998 before...,current cardano price alert ada usd bitcoin bt...,NaN
freq,54368,703,17377,NaN
mean,NaN,NaN,NaN,4.192171e-01
std,NaN,NaN,NaN,7.661467e-01
min,NaN,NaN,NaN,-1.000000e+00
25%,NaN,NaN,NaN,0.000000e+00
50%,NaN,NaN,NaN,1.000000e+00
75%,NaN,NaN,NaN,1.000000e+00
max,NaN,NaN,NaN,1.000000e+00

In [15]:
df.to_csv('Merged.csv', index=False)

In [17]:
drop_df = df.drop(columns=['text', 'hard_cleaned_text'])

In [18]:
drop_df.describe(include='all')

              date         label
count      3545535  3.545535e+06
unique         705           NaN
top     2022-01-22           NaN
freq         54368           NaN
mean           NaN  4.192171e-01
std            NaN  7.661467e-01
min            NaN -1.000000e+00
25%            NaN  0.000000e+00
50%            NaN  1.000000e+00
75%            NaN  1.000000e+00
max            NaN  1.000000e+00

In [19]:
emotion_scores = drop_df.groupby('date')['label'].mean().reset_index()
emotion_scores

           date     label
0    2021-02-05  0.355109
1    2021-02-06  0.371441
2    2021-02-07  0.404031
3    2021-02-08  0.432709
4    2021-02-09  0.373221
..          ...       ...
700  2023-01-06  0.310392
701  2023-01-07  0.294823
702  2023-01-08  0.299228
703  2023-01-09  0.312214
704  2023-01-10  0.208226

[705 rows x 2 columns]

In [20]:
emotion_scores.to_csv('emotion_scores.csv', index=False)