In [1]:
import pandas as pd

df1 = pd.read_csv('balanced_twitter_btc_big.csv',lineterminator='\n')

In [2]:
df1.describe(include='all')

,user_followers,user_verified,date,text,hard_cleaned_text,soft_cleaned_text,vader_sentiment,afinn_sentiment,sentiment,label
count,3.540245e+06,3.540245e+06,3540245,3540245,3540245,3540217,3.540245e+06,3.540245e+06,3.540245e+06,3.540245e+06
unique,NaN,NaN,4084,3469981,2789269,2872152,NaN,NaN,NaN,NaN
top,NaN,NaN,2021-10-19 20:00:00,Do you know #BMoney was an idea in 1998 before...,current cardano price alert ada usd bitcoin bt...,BTC Derivs Sheet (Tweet every 15 min.) CME Del...,NaN,NaN,NaN,NaN
freq,NaN,NaN,4110,703,17377,8751,NaN,NaN,NaN,NaN
mean,9.631299e+03,9.207837e-03,NaN,NaN,NaN,NaN,2.622725e-01,2.753903e-01,2.701432e-01,5.801607e-01
std,1.116223e+05,9.551469e-02,NaN,NaN,NaN,NaN,4.359499e-01,6.085348e-02,2.044389e-01,7.665063e-01
min,1.000000e+01,0.000000e+00,NaN,NaN,NaN,NaN,-9.973000e-01,-1.000000e+00,-9.984800e-01,0.000000e+00
25%,7.800000e+01,0.000000e+00,NaN,NaN,NaN,NaN,0.000000e+00,2.478632e-01,1.487179e-01,0.000000e+00
50%,3.010000e+02,0.000000e+00,NaN,NaN,NaN,NaN,2.960000e-01,2.649573e-01,2.759979e-01,0.000000e+00
75%,1.724000e+03,0.000000e+00,NaN,NaN,NaN,NaN,6.249000e-01,2.991453e-01,4.241036e-01,1.000000e+00
max,2.413135e+07,1.000000e+00,NaN,NaN,NaN,NaN,9.967000e-01,1.000000e+00,9.974400e-01,2.000000e+00

In [3]:
columns_to_drop = ['user_followers', 'user_verified', 'vader_sentiment', 'afinn_sentiment', 'sentiment', 'soft_cleaned_text']
df = df1.drop(columns=columns_to_drop)

In [4]:
df.describe(include='all')

,date,text,hard_cleaned_text,label
count,3540245,3540245,3540245,3.540245e+06
unique,4084,3469981,2789269,NaN
top,2021-10-19 20:00:00,Do you know #BMoney was an idea in 1998 before...,current cardano price alert ada usd bitcoin bt...,NaN
freq,4110,703,17377,NaN
mean,NaN,NaN,NaN,5.801607e-01
std,NaN,NaN,NaN,7.665063e-01
min,NaN,NaN,NaN,0.000000e+00
25%,NaN,NaN,NaN,0.000000e+00
50%,NaN,NaN,NaN,0.000000e+00
75%,NaN,NaN,NaN,1.000000e+00
max,NaN,NaN,NaN,2.000000e+00

In [5]:
df['label'] = df['label'].replace({0: 1, 1: 0, 2: -1})

In [6]:
df['date'] = pd.to_datetime(df['date']).dt.strftime('%Y-%m-%d')

In [7]:
df.describe(include='all')

,date,text,hard_cleaned_text,label
count,3540245,3540245,3540245,3.540245e+06
unique,267,3469981,2789269,NaN
top,2022-01-22,Do you know #BMoney was an idea in 1998 before...,current cardano price alert ada usd bitcoin bt...,NaN
freq,54368,703,17377,NaN
mean,NaN,NaN,NaN,4.198393e-01
std,NaN,NaN,NaN,7.665063e-01
min,NaN,NaN,NaN,-1.000000e+00
25%,NaN,NaN,NaN,0.000000e+00
50%,NaN,NaN,NaN,1.000000e+00
75%,NaN,NaN,NaN,1.000000e+00
max,NaN,NaN,NaN,1.000000e+00

In [8]:
df.head()

,date,text,hard_cleaned_text,label
0,2021-02-11,Blue Ridge Bank shares halted by NYSE after #b...,blue ridge bank shares halted nyse bitcoin atm...,1
1,2021-02-11,"😎 Today, that's this #Thursday, we will do a ""...",today thursday take friend btc wallet security...,1
2,2021-02-11,"Guys evening, I have read this article about B...",guys evening read article btc would like share...,1
3,2021-02-11,$BTC A big chance in a billion! Price: \487264...,btc big chance billion price bitcoin fx btc cr...,1
4,2021-02-11,This network is secured by 9 508 nodes as of t...,network secured nodes today soon biggest bears...,-1

In [9]:
df.to_csv('balanced_twitter_btc_big_clean.csv', index=False)

In [13]:
from datetime import datetime

start_date = datetime(2021, 2, 5)
end_date = datetime(2023, 1, 10)
date_range = pd.date_range(start_date, end_date)

missing_dates = date_range[~date_range.isin(df['date'])]

In [14]:
missing_dates

DatetimeIndex(['2021-02-12', '2021-02-17', '2021-02-21', '2021-02-24',
               '2021-02-25', '2021-02-26', '2021-02-27', '2021-03-02',
               '2021-03-03', '2021-03-04',
               ...
               '2022-12-22', '2022-12-23', '2022-12-29', '2022-12-30',
               '2022-12-31', '2023-01-01', '2023-01-02', '2023-01-03',
               '2023-01-04', '2023-01-05'],
              dtype='datetime64[ns]', length=438, freq=None)

处理手动爬取

In [1]:
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

# 下载NLTK资源（如果尚未下载）
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /Users/jason/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /Users/jason/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [2]:
def preprocess_twitter_text(text):
    # 将文本转换为小写
    text = text.lower()
    # 移除链接
    text = re.sub(r'http\S+|www\S+|https\S+', '', text, flags=re.MULTILINE)
    # 移除RT、@提及和标签（hashtags）
    text = re.sub(r'\@\w+|\#\w+', '', text)
    # 移除标点符号
    text = re.sub(r'[^\w\s]', '', text)
    # 移除表情符号等非ASCII字符
    text = text.encode('ascii', 'ignore').decode('ascii')
    
    # 分词
    word_list = nltk.word_tokenize(text)
    
    # 移除停用词
    filtered_words = [word for word in word_list if word not in stopwords.words('english')]
    
    # 词干提取
    ps = PorterStemmer()
    stemmed_words = [ps.stem(word) for word in filtered_words]

    return ' '.join(stemmed_words)

In [3]:
import pandas as pd

df = pd.read_excel('combined_data_no_duplicates.xlsx')

In [4]:
df.head()

   Tweet Date                                         Tweet Text
0  2022-09-25  DO NOT MISS this opportunity to mine FREE #cry...
1  2022-09-25  Ordered new shirts from \n@grimesgraphics\n wi...
2  2022-09-25  #Binance    on display at Burj Khalifa , the t...
3  2022-09-25  I just had another batch of shirts with the #B...
4  2022-09-25  Nightyyy Earthersss \n\nBoBluRepresent:"Dreams...

In [5]:
df['hard_cleaned_text'] = df['Tweet Text'].apply(preprocess_twitter_text)
df.rename(columns={'Tweet Date': 'date'}, inplace=True)
df.rename(columns={'Tweet Text': 'text'}, inplace=True)

In [6]:
df.head()

,date,text,hard_cleaned_text
0,2022-09-25,DO NOT MISS this opportunity to mine FREE #cry...,miss opportun mine free worldwid prelaunch pi ...
1,2022-09-25,Ordered new shirts from \n@grimesgraphics\n wi...,order new shirt logo
2,2022-09-25,"#Binance on display at Burj Khalifa , the t...",display burj khalifa tallest build world giant...
3,2022-09-25,I just had another batch of shirts with the #B...,anoth batch shirt logo send shirt embroid also
4,2022-09-25,"Nightyyy Earthersss \n\nBoBluRepresent:""Dreams...",nightyyi earthersss boblurepresentdream realit...

In [8]:
# 查看缺失值
df.isnull().sum()

date                 0
text                 0
hard_cleaned_text    0
dtype: int64

In [7]:
df.to_csv('combined_data_no_duplicates_clean.csv', index=False)